# Cmake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/

# Distribution / packaging
build/
dist/
output/

# Excluding example files
example.mp4
example_frame.jpg
example_crop.jpg
